body {
    background-color: #fef7fa;
    font-family: "Roboto", serif;
}

.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(144, 59, 112, 0.08);
    border-radius: 16px;
    padding: 30px;
}